.sidebar {
    position: fixed;

    right: 0;
    top: 0;
    bottom: 0;

    padding: 50px 20px;

    background-color: #111b1a;
}

.option {
    display: flex;
    align-items: center;

    cursor: pointer;

    span {
        color: white;
    }
}

.sidebarButton {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    img {
        margin: 20px;
    }
}
